/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--background-color);
  background-attachment: fixed;
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.header__theme-menu-button_active {
  pointer-events: none;
}

.header {
  position: relative;
  padding: 10px;
  background-image: var(--background-image);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  height: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
}

.page::before {
  z-index: 3;
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--decor-color);
  top: 18px;
  right: 19px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--decor-color);
}

.header::before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  border-top: 1px  solid var(--corber-color);
  border-right: 1px  solid var(--corber-color);
  top: 10px;
  right: 10px;
}

header::after {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  border-bottom: 1px  solid var(--corber-color);
  border-left: 1px  solid var(--corber-color);
  bottom: 10px;
  left: 10px;
}

.decor_text {
  position: absolute;
  color: var(--decor-color);
  top: 10px;
  right: 38px;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: center;
}

.header__theme-menu {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
}

.header__theme-menu-item {
  margin-bottom: 10px;
}

.header__theme-menu-button:hover {
  outline: 2px solid var(--outline-color-hover);
}

.header__theme-menu-button:focus {
 border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu-button:disabled {
  outline: 1px solid var(--accent-color);
}

.header__theme-menu-button {
  min-height: 26px;
  min-width: 70px;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--accent-color);
  text-transform: lowercase;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0%;
}

.title {
  display: grid;
  font-weight: 700;
  font-style: Bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  letter-spacing: 0%;
  color: var(--title-color);
  text-shadow: 4px 4px var(--accent-color);
}

.header__article {
  background-color: var(--accent-color);
  color: #000028;
  height: fit-content;
  display: grid;
  align-self: center;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
}

main {
  background-color: var(--background-color);
  padding: 40px 10px 35px 10px;
}

.main__list-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
}

.main__list_card {
  color: var(--text-color);
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
}

.main__list-card-title-last {
  padding-bottom: 50px;
}

.main__list-card-title {
  margin: 20px 0 10px 0;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
}

.main__list-card-title-font-normal {
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
}

.main__list-title-decorated {
  margin: 20px 0 10px 0;
}

.link:hover {
  border-bottom: 1px solid var(--text-color);
}

.link:focus {
  outline: 1px solid var(--text-color);
}

.link {
  text-shadow: 2px 2px var(--accent-color);
  text-decoration: none;
  outline-style: none;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--title-decor-color);
}

.main__galery_image {
  width: 100%;
  margin-top: 7px;
}

.footer::before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  border-top: 1px solid var(--corber-color);
  border-right: 1px solid var(--corber-color);
  top: 10px;
  right: 10px;
}

footer::after {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  border-bottom: 1px solid var(--corber-color);
  border-left: 1px solid var(--corber-color);
  bottom: 10px;
  left: 10px;
}

.footer {
  height: 100vh;
  min-height: 667px;
  display: grid;
  position: relative;
}

.footer__title {
  text-align: center;
  align-self: center;
}


@media (width >= 768px) {
  .page::before {
    z-index: 3;
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--decor-color);
    top: 28px;
    right: 29px;
    border-radius: 50%;
    box-shadow: 0px 0px 4px 2px var(--decor-color);
  }
  
  .header::before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    border-top: 1px solid var(--corber-color);
    border-right: 1px solid var(--corber-color);
    top: 20px;
    right: 20px;
  }
  
  header::after {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    border-bottom: 1px solid var(--corber-color);
    border-left: 1px solid var(--corber-color);
    bottom: 20px;
    left: 20px;
  }

  .decor_text {
    position: absolute;
    color: var(--decor-color);
    top: 20px;
    right: 48px;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: center;
  }

  .header {
    padding: 0px;
  }

  .header__theme-menu-list {
    padding: 30px 20px 0 0;
  }
  
  .title {
  font-weight: 700;
  font-style: Bold;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 83%;
  letter-spacing: 0%;
  }

  .header__article {
    max-width: 364px;
    justify-self: end;
    margin: 0 20px 15px 0;
  }
  
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: max-content repeat(3, fit-content);
    column-gap: 20px;
    padding: 0 20px;
    padding-top: 60px;
  }

  .main__list {
    grid-column: 1 / span 3;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    column-gap: 20px;
    padding-bottom: 0px;
  }

  .main__list_card-large {
    grid-column: 1 / span 2;
    max-width: none;
  }

  .main__list-title {
    max-width: 236px;
    margin: 0 0 20px 0;
  }

  .main__list_card {
    margin: 0px;
    grid-column: 2;
    padding-bottom: 20px;
  }

 .main__list-card-title-last {
    padding-bottom: 80px;
  }

  .main__list_card-modified {
    grid-column: 1 / span 2;
  }

  .main__list-item-title-modified {
    grid-row: 7 / span 2;
  }

  .main__list-title-decorated {
    margin: 0 0 10px 0;
    height: fit-content;
    max-width: none;
  }

  .main__galery_title {
    background-color: var(--accent-color);
  }


  .title-decor {
    max-height: 23px;
    margin: 0 0 10px 0;
  }

  .main__galery {
    grid-column: 3 span / 4;
    width: 100%;
    height: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .main__galery_image {
    padding: 0;
    margin: 0;
  }

  .sunset {
    width: 100%;
    height: 100%;
    grid-column: 1 / span 2;
    grid-row: 2;
    object-fit: cover;
  }
  
  .ice-cream {
    width: 100%;
    height: 100%;
    grid-column: 3;
    grid-row: 2 / span 2;
    object-fit: cover;
  }

  .tape {
    width: 100%;
    height: 100%;
    grid-row: 3 / span 2;
    grid-column: 1;
    object-fit: cover;
  }

  .books {
    width: 100%;
    height: 100%;
    grid-column: 2;
    grid-row: 3;
  }

  .street {
    width: 100%;
    height: 100%;
    grid-column: 2 / span 2;
    grid-row: 4;
    object-fit: cover;
  }

  .footer::before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    border-top: 1px solid var(--corber-color);
    border-right: 1px solid var(--corber-color);
    top: 20px;
    right: 20px;
  }
  
  .footer::after {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    border-bottom: 1px solid var(--corber-color);
    border-left: 1px solid var(--corber-color);
    bottom: 20px;
    left: 20px;
  }

  .footer {
    margin-top: 55px;
  }
}

@media (width >= 1024px) {
  .header {
    padding: 0;
    margin: 0;
  }

  .header__theme-menu-list {
    padding: 20px 0 0 0;
    gap: 10px;
    flex-direction: row;
    align-items: center;
  }

  .title {
    font-weight: 700;
    font-style: Bold;
    font-size: 157px;
    line-height: 83%;
    letter-spacing: 0%;
  }

  .header__article {
    max-width: 491px;
    justify-self: end;
    margin: 0 20px 20px 0;
  }

  .main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 0 20px;
    padding-top: 60px;
  }

  .main__list {
    grid-template-columns: 1fr 1fr 1fr;
    
  }

  .main__list-item-title {
    grid-column: 1;
  }

  .main__list-title {
    max-width: 314px;
  }

  .main__list_card {
    grid-column: 2 / span 2;
  }

  .main__list-title-decorated {
    max-height: 23px;
    margin-bottom: 20px;
    grid-column: 2 / span 2;
    grid-row: 5;
    max-width: none;
  }

  .main__list-item-title-modified {
    grid-row: 5 / span 2;
  }

  .main__list_card-modified {
    grid-row: 4;
    grid-column: unset;
  }

  .main__list_card-large {
    grid-column: 1 / span 3;
  }

  .main__list-card-title-last {
    padding-bottom: 80px;
  }

  .title-decor {
    max-width: none;
  }

  .main__list_galery-title {
    margin: 0px;
  }

  .header__theme-menu {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    align-self: flex-start;
    justify-self: center;
  }

  .footer {
    min-height: 768px;
    margin-top: 65px;
  }
}