/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--background-color);
  background-attachment: fixed;
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}



.header {
  position: relative;
  padding: 10px;
  height: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
}

.header__theme-menu-button_active {
  pointer-events: none;
}

.decorated-zone::before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  border-top: 1px  solid var(--corber-color);
  border-right: 1px  solid var(--corber-color);
  top: 10px;
  right: 10px;
}

.decorated-zone::after {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  border-bottom: 1px  solid var(--corber-color);
  border-left: 1px  solid var(--corber-color);
  bottom: 10px;
  left: 10px;
}

.decor_text::after {
  z-index: 3;
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--decor-color);
  top: 9px;
  left: 41px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--decor-color);
}

.decor_text {
  position: absolute;
  color: var(--decor-color);
  top: 10px;
  right: 38px;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}

.header__theme-menu {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-outline-color-hover);
}

.header__theme-menu-button:focus {
 border-bottom: 1px solid var(--button-outline-color-focus);
}

.header__theme-menu-button:disabled {
  outline: 1px solid var(--button-outline-color-disabled);
}

.header__theme-menu-button {
  min-height: 26px;
  min-width: 70px;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--accent-color);
  text-transform: lowercase;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.title {
  display: grid;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-color);
  text-shadow: 4px 4px var(--accent-color);
}

.header__article {
  background-color: var(--accent-color);
  color: var(--header-article-color);
  height: fit-content;
  display: grid;
  align-self: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

main {
  background-color: var(--background-color);
  padding: 40px 10px 35px 10px;
}

.main__section {
  padding-bottom: 30px;
}

.main__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var( --title-text-color);
  margin-bottom: 20px;
}

.main__list_card {
  color: var(--text-color);
  padding-bottom: 20px;
}

.main__list-card-title {
  margin-bottom: 10px;
  background-color: var(--accent-color);
  color: var(--title-decor-color);
}

.main__list-title-decorated {
  background-color: var(--accent-color);
  color: var(--title-decor-color);
}

.link:hover {
  border-bottom: 1px solid var(--text-color);
}

.main__list-card-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
}


.link:focus {
  outline: 1px solid var(--text-color);
}

.link {
  text-shadow: 2px 2px var(--accent-color);
  text-decoration: none;
  outline-style: none;
}

.main__list_galery-title {
  margin-bottom: 10px;
  background-color: var(--accent-color);
  color: var(--title-decor-color);
}

.main__galery {
  padding-bottom: 0px;
}

.main__galery_image {
  width: 100%;
  height:100%;
  margin-bottom: 5px;
  object-fit: contain;
}

.footer {
  height: 100vh;
  min-height: 668px;
  display: grid;
  position: relative;
  background-color: var(--background-color);
}

.footer__title {
  text-align: center;
  align-self: center;
}


@media (width >= 768px) {
  
  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }
  
  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .decor_text {
    top: 20px;
    right: 48px;

  }

  .header {
    padding: 0px;
    
  }

  .header__theme-menu-list {
    padding: 30px 20px 0 0;
  }
  
  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height: 83%;
  }

  .header__article {
    max-width: 364px;
    justify-self: end;
    margin: 0 20px 15px 0;
  }
  
  .main {
    padding: 60px 20px 0 20px;
  }

  .main__section {
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    gap: 20px;
  }

  .main__section_list {
    grid-column: 2;
  }

  .main__title {
    max-width: 236px;
    grid-row: 1 / span 2;
  }

 .main__list-card-title {
    max-width: none;
  }

  .main__section_card-modified {
    grid-template-rows: min-content 1fr;
    grid-template-columns: 1fr;
    padding-bottom: 60px;
    gap: 0px;
  }

  .main__list_card-modified {
    grid-column: 1 / span 2;
    grid-row: 2;
  }

  .main__list-title-modified {
    grid-row: 1;
    grid-column: 1 / span 2;
  }

  .main__list-title-decorated {
    margin: 0;
    height: fit-content;
    max-width: none;
    grid-row: 1;
  }

  .main__galery {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 20px;
    padding-bottom: 60px;
  }

  .main__list_galery-title {
    max-width: none;
    margin: 0;
    grid-row: 1;
    grid-column: 1 / 4;
  }

  .main__galery_image {
    margin: 0;
    object-fit: cover;
  }

  .sunset {
    grid-column: 1 / span 2;
    grid-row: 2;
  }
  
  .ice-cream {
    grid-column: 3;
    grid-row: 2 / span 2;
  }

  .tape {
    grid-row: 3 / span 2;
    grid-column: 1;
  }

  .books {
    grid-column: 2;
    grid-row: 3;
  }

  .street {
    grid-column: 2 / span 2;
    grid-row: 4;
  }
}

@media (width >= 1024px) {
  .header {
    margin: 0;
  }

  .header__theme-menu-list {
    padding: 20px 0 0 0;
    gap: 10px;
    flex-direction: row;
    align-items: center;
  }

  .header__article {
    max-width: 491px;
    margin: 0 20px 20px 0;
  }

  .main__title {
    max-width: 315px;
    margin-bottom: 10px
  }

  .main__list-card-title {
    max-width: none;
  }

  .main__list-title-decorated {
    max-width: none;
  }

  .main__section {
    gap: 10px;
    padding-bottom: 50px;
  }

  .main__section_card-modified {
    grid-template-rows: min-content 1fr;
    grid-template-columns: 1fr;
    padding-bottom: 60px;
  }

  .main__list_card-modified {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }


  .main__galery {
    gap: 20px;
    padding-top: 10px;
    padding-bottom: 60px;
  }

  .main__list_galery-title {
    max-width: none;
    margin-bottom: 0px;
  }

  .header__theme-menu {
    align-self: flex-start;
    justify-self: center;
  }

  .footer {
    min-height: 768px;
  }
}